[submodule "Chemistry"]
	path = Chemistry
	url = https://github.com/cobaltt7/Chemistry.git
[submodule "CodeYourOwnWebsite"]
	path = CodeYourOwnWebsite
	url = https://github.com/cobaltt7/CodeYourOwnWebsite.git
[submodule "DangoRain"]
	path = DangoRain
	url = https://github.com/cobaltt7/DangoRain.git
[submodule "graphic-design-portfolio"]
	path = graphic-design-portfolio
	url = https://github.com/cobaltt7/graphic-design-portfolio.git
[submodule "Learning-PHP-MySQL-JavaScript"]
	path = Learning-PHP-MySQL-JavaScript
	url = https://github.com/cobaltt7/Learning-PHP-MySQL-JavaScript.git
[submodule "line-drawing-algorithm"]
	path = line-drawing-algorithm
	url = https://github.com/cobaltt7/line-drawing-algorithm.git
[submodule "ScratchFormsParser"]
	path = ScratchFormsParser
	url = https://github.com/cobaltt7/ScratchFormsParser.git
[submodule "Spider"]
	path = Spider
	url = https://github.com/cobaltt7/Spider.git
[submodule "WordPress-Blog-Search"]
	path = WordPress-Blog-Search
	url = https://github.com/cobaltt7/WordPress-Blog-Search.git
[submodule "less-sandbox"]
	path = less-sandbox
	url = https://github.com/cobaltt7/less-sandbox.git
