.i {
	border-radius: 100%;
	width: 15px;
	height: 15px;
	color: #fff;
	text-align: center;
	background-color: #4b4bff;
	font-size: 15px;
	line-height: 16px;
	font-family: "Google Sans";
	display: inline-block;
	text-transform: lowercase;
	padding: 0;
	top: 0;
	position: absolute;
}

.tooltip {
	position: relative;
}

.tooltiptext {
	position: absolute;
	-webkit-transform: translatey(-37%);
	-moz-transform: translatey(-37%);
	-ms-transform: translatey(-37%);
	-o-transform: translatey(-37%);
	transform: translatey(-37%);
	left: 50%;
	margin-left: 25px;
	top: 0%;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	padding: 10px;
	border-radius: 10px;
	background: #3030ff;
	color: #fff;
	border: 2px solid #000;
	font-size: 21px;
	opacity: 0;
}

.tooltip:hover .tooltiptext,
.tooltip:hover .tooltiptext::before {
	opacity: 1;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

.tooltip .tooltiptext::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -8px;
	border: 8px solid;
	border-color: transparent #000096 transparent transparent;
}

.i:hover {
	background-color: #3030ff;
}
